// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: pixel;
  src: url(../src/fonts/PressStart2P-Regular.ttf);
}

// SCSS VARIABLES

$game-font: pixel, cursive;
// $primary-color: #534439;
// $secondary-color: #bb6923;
// $tertiary-color: #baa89b;
// $quad-color: #dfe0df;
// $primary-color: #fe5f5e;

$primary-color: #022844;
$secondary-color: #abc5ea;
$tertiary-color: #dfa01f;
$quad-color: #f1f1e6;

/* GLOBAL ELEMENT TAGS */
* {
  font-family: $game-font;
  color: $quad-color;
}

body {
  // background-image: url('../src/images/boba-dog-bg.jpg');
  // background-image: url('../src/images/boba-bg-3.jpg');
  background-image: url('../src/images/boba-bg-2.jpg');

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center; */
  // justify-content: space-evenly;
  font-family: $game-font;
}

h1,
li,
a {
  color: $quad-color;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 3.5rem;
  font-family: $game-font;
  font-weight: bold;
  padding: 1rem 2rem 0.5rem 2rem;
}

h5 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

p {
  line-height: 1.5rem;
  color: black;
}

/* UTIL CLASSES */
.default-cursor {
  cursor: default;
}

/* HEADER  */
header {
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
}
.personal-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:last-child {
    margin-right: 1rem;
  }
}

/* NAVIGATION  */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.game-info {
  display: flex;

  li {
    padding: 10px;
    font-size: 0.75rem;
    // font-family: Arial, Helvetica, sans-serif;
  }
}

.instructions,
.items,
.purpose {
  &:hover {
    color: $tertiary-color;
  }
}

#instructions-container {
  position: absolute;
  width: 30rem;
  z-index: 5;
  background-color: $primary-color;
  top: 10px;
  left: 10px;
  padding: 1rem;
  border: 8px solid $tertiary-color;
  border-radius: 8px;
}

.instructions-content {
  padding: 1rem;
  background-color: $secondary-color;
}

#items-container {
  position: absolute;
  width: 25rem;
  z-index: 5;
  background-color: $primary-color;
  top: 10px;
  left: 60px;
  border: 8px solid $tertiary-color;
  border-radius: 8px;
}

.items-content {
  padding: 1rem;

  ul {
    padding: 1rem;
    margin: auto;
    background-color: $secondary-color;

    li {
      line-height: 1.5rem;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
    }
  }
}

.item-pic-container {
  width: 3rem;
  height: 3rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.purpose {
  padding: 10px;
  font-size: 0.75rem;
  cursor: default;
}

#purpose-container {
  position: absolute;
  width: 25rem;
  z-index: 5;
  background-color: $primary-color;
  top: 10px;
  right: 10px;
  // padding: 1rem;
  border: 8px solid $tertiary-color;
  border-radius: 8px;
}

.purpose-content {
  padding: 1rem;
  background-color: $secondary-color;
}

/* MAIN CONTENT  */
.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-pause {
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 50px;
  background-color: $secondary-color;
  color: $primary-color;
  border: 1px solid $quad-color;

  &:hover {
    background-color: $tertiary-color;
  }
}

#game-canvas {
  border: 7px solid $tertiary-color;
  border-radius: 8px;
  background-color: #eeeeef;
  z-index: 0;
  font-family: $game-font;
}

#start-menu {
  position: fixed;
  border-radius: 10px;
  border: 20px solid $primary-color;
  z-index: 2;
  height: 600px;
  width: 800px;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: $primary-color;
  border-radius: 10px;
  border: 2px solid $quad-color;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $tertiary-color;
  }
}

h2 {
  font-size: 36px;
  background-color: $primary-color;
  padding: 2rem;
  text-align: center;
}

.menu-instructions {
  font-size: 1.2rem;
  line-height: 1.6rem;
  border: 14px solid $secondary-color;
  background-color: $secondary-color;
  text-align: center;

  li {
    padding: 1rem;
    color: black;
  }
}

.menu-instructions > li:last-child {
  // background-color: #fe5f5e;
  background-color: $primary-color;
  border-radius: 10px;
}

#game-end {
  width: 45rem;
  position: fixed;
  border-radius: 10px;
  border: 20px solid $secondary-color;
}

.game-over-messages {
  font-size: 30px;
  // font-family: Arial, Helvetica, sans-serif;
  border: 14 px solid $secondary-color;
  background-color: $secondary-color;
  text-align: center;
}

.game-over-messages > li {
  padding: 20px;
}

.music-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.music-control {
  // background-color: #fe5f5e;
  background-color: $primary-color;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER  */
footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  background-color: $primary-color;
  // background-color: #fe5f5e;
  // border: 1px solid red;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contents > li {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

/* FUNCTIONAL */
.hidden {
  // visibility: hidden;
  display: none;
}
